*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

header{
    background-color: #EAC926;
}

#logo-buscar-titulo{
    max-width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
}

#logo{
    max-width: 25%;
    margin: 1%;
}

#buscar{
    /*max-width: 30%;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 10px;
}

#input-buscar{
    max-width: 200px;
    }

#boton-buscar{
    background-color: #ebebeb;
    padding: 0.1em;
}

.compra{
    font-size: 1em;
}

#Site-NavBar{
    display: none;
}

li{
    margin: 5px;
}

#Hamburguesa{
    visibility: visible;
}

#boton-Hamburguesa{
    color: white;
    background-color: #1259c3; /*#03264C*/
    border-radius: 5px;
    padding: 0.5em;
    margin: 5px;
}

main{
    background-color: #ebebeb; /*#666*/
    margin: auto;
    width:100vw;
}

#contenedor-articulos{
    display: block;
}

.Imagen{
    width: 90vw;
}

#Banner{
    width:100vw;
}

#Ultima-visita, #Ofertas{
    width: 100vw;
}

article{
    margin: 10px;
    text-align: center; /*para media 361px*/
}

.Titulares{
    font-size: 24px;
    text-align: center;
}

.Precio{
    font-size: 18px;
    display: inline;
    
}

.Descuento{
    font-size: 16px;
    color:#39b54a;
    display: inline;
    
}

.Descripcion{
    font-size: 16px;
    display: none;
}

.Cuerpo{
    font-size: 12px;
    padding: 1%;
}

.Articulo{
    border-top: solid 1px #ebebeb;
    text-align: justify; /*para media 361px*/
    padding: 5px;
    background-color: white;
    position: relative;     /*agregado de w3s para q ande la posicion del camion*/
}

#Envio{
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 100%;
    padding: 5px;
    background-color: #FFF; /*agregado de playground*/
    right: 15px; /*agregado de playground*/
    top: -18px;  /*agregado de playground*/
    position: absolute;  /*agregado de playground*/
    display: block;  /*agregado de playground*/
}

footer{
    background-color: white;
    padding: 2%;
}

.Footer{
    width: 90vw;
    margin: auto;
    padding: 1%;
}

#icono-footer{
    color: #1259c3; /*#03264C*/
    font-size: 2em;
    margin: 10px;
}

#formulario-cuenta{
    display: flex;
    justify-content: space-around;
}

#form{
    display: inline-block;
    align-content: center;
    padding: 25px;
}

#botones-registro{
    display: flex;
    justify-content: center;
}

#boton-enviar-borrar{
    background-color: #009cf6;
    color: black;
    padding: 7px;
    border-color: white;
    margin: 10px;
}

#main-registro{
    padding: 10px;
}

@media(min-width:361px /*and max-width:768px*/){
    .Imagen{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
        max-width: 40vw;
    }

    .Articulo{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    }
    
    #logo{
        max-width: 25vw;
    }
    
    #buscar{
        max-width: 30vw;
    }
    
    #Hamburguesa{
        display: none;
    }

    .Descripcion{
        font-size: 16px;
        display: block;
    }

    #Site-NavBar{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
    }

    #Site{
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    
    #NavBar{
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }

    #contenedor-articulos{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 100vw;
    }

}

@media (min-width:769px){
    .Imagen{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
        max-width: 22vw;
    }

    .Articulo{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    }

    #logo{
        max-width: 25vw;
    }
    
    #buscar{
        max-width: 30vw;
    }
    
    #Hamburguesa{
        display: none;
    }

    .Descripcion{
        font-size: 16px;
        display: block;
        color:white;
    }

    #Site-NavBar{
        display: flex;
        justify-content: space-around;
    }

    #Site{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    
    #NavBar{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    #contenedor-articulos{
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    #contenedor-visita-ofertas{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #footer{
        display: flex;
        justify-content: space-around;
    }

    article:hover{
        box-shadow : 0px 0px 10px rgb( 0 , 0 , 0 );
        transition: box-shadow 1s;
        transition-timing-function: ease-out;
    }

    #boton-enviar-borrar:hover{
        color: white;
        background-color: #0022AA;
    }

    #icono-footer:hover{
        color:rgb(1, 190, 1);
    }

    .Descripcion:hover{
        color: black;
    }

    .Imagen:hover{
        transform: scale(1.02,1.02);
    }

}


/*